body {
  display: flex;
  flex-direction: column;
  background-color: rgb(25, 24, 48);
  /*  gap: 80px; */
  align-items: center;
  font-family: "Sacramento", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

.input-and-buttons-wrapper {
  display: flex;
  gap: 40px;
  justify-content: center;
  height: 50px;
  margin-bottom: 60px;
}

.neon-headline {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #bc13fe,
    0 0 82px #bc13fe, 0 0 92px #bc13fe, 0 0 102px #bc13fe, 0 0 151px #bc13fe;
}

h1 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 80px;
  font-size: 4rem;
  animation: pulsate 1s infinite alternate;
  border: 0.1rem solid #fff;
  border-radius: 2rem;
  padding: 0.4em;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
}

@keyframes pulsate {
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #bc13fe,
      0 0 80px #bc13fe, 0 0 90px #bc13fe, 0 0 100px #bc13fe, 0 0 150px #bc13fe;
  }

  0% {
    text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 10px #bc13fe,
      0 0 45px #bc13fe, 0 0 55px #bc13fe, 0 0 70px #bc13fe, 0 0 80px #bc13fe;
  }
}

@media screen and (prefers-reduced-motion) {
  h1 {
    animation: none;
  }
}

#gameboard {
  display: grid;
  grid-template-columns: repeat(3, 230px);
  grid-template-rows: repeat(3, 230px);
  justify-items: center;
  align-items: center;
}

.square {
  display: flex;
  height: 100%;
  width: 100%;
  border: 2px solid rgb(124, 58, 237, 0.7);
  color: #ffffff;
  text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #bc13fe,
    0 0 80px #bc13fe, 0 0 90px #bc13fe, 0 0 100px #bc13fe, 0 0 150px #bc13fe;

  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem rgb(124, 58, 237, 0.5),
    0 0 0.8rem rgb(124, 58, 237, 0.5), 0 0 2.8rem rgb(124, 58, 237, 0.5),
    inset 0 0 1.3rem rgb(124, 58, 237, 0.7);
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

#gameboard {
  margin-bottom: 80px;
}

#message {
  color: #bc13fe;
  font-size: 4rem;
}

input {
  border-radius: 10px;
  height: 20px;
  padding: 12px 20px;
  border: 1px solid rgb(138, 53, 163);
  font-size: 2rem;
  color: #a855f7;
  font-family: "Sacramento", sans-serif;
  background-color: rgb(66, 22, 80);
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #661885,
    0 0 0.8rem #661885, 0 0 2.8rem #661885, inset 0 0 1.3rem #661885;
}

#player-one-name,
#player-two-name {
  transition: 300ms;
}

#player-one-name:hover,
#player-two-name:hover {
  padding: 16px 25px;
}

#player-one-name:focus,
#player-two-name:focus {
  padding: 16px 25px;
}

::-ms-input-placeholder {
  /* Edge 12-18 */
  color: #a855f7;
}

::placeholder {
  color: #a855f7;
  opacity: 1; /* Firefox */
}

button {
  font-family: "Sacramento", sans-serif;
  font-size: 2rem;
  border-radius: 10px;
  color: #a855f7;
  border: 2px solid #661885;
  min-width: 170px;
  background-color: rgb(66, 22, 80);

  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #661885,
    0 0 0.8rem #661885, 0 0 2.8rem #661885, inset 0 0 1.3rem #661885;
  cursor: pointer;
}

button:hover {
  animation: pulsate 1s infinite alternate;
  color: #5e03b4;
  font-weight: bold;
}

button:active {
  background-color: rgb(198, 17, 253);
}
